<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.itg.jobcardmanagement">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".common.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name=".home.MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".intro.IntroActivity"
            android:label="Job Card M"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity -->
        <!-- android:name=".intro.IntroActivity" -->
        <!-- android:label="Job Card M" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity
            android:name=".registration.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".registration.CustomerRegistrationActivity"
            android:label="@string/title_activity_customer_registration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".registration.PasswordActivity"
            android:label="@string/title_activity_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qr.QRCodeGeneratorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".setting.MainSettingActivity"
            android:label="@string/title_activity_main_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".profile.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".servicing.ServiceDetailsActivity"
            android:label="@string/title_activity_service_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".home.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".setting.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".qr.QRCodeScanActivity"
            android:label="@string/title_activity_qrcode_scan"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".common.service.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="DATABASE"
            android:value="jobcard.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.itg" />
    </application>

</manifest>